.navig-link {
  color: rgb(255 255 255 / 90%);
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.sign-in {
  padding: 0.25rem 0.75rem;
  font-size: 1.1 rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  display: block;
}

.sign-in:hover {
  color: #59e9df;
}

.navig-link:hover {
  color: #59e9df;
}

.content_in_rows {
  margin:auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.H4 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) and (orientation: landscape) {
  #down12 {
    position: absolute;
    bottom: 0;
  }

  #down {
    position: relative;
    bottom: 0;
  }

  #down1 {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #down12 {
    position: absolute;
    bottom: 0;
  }

  #down {
    position: relative;
    bottom: 0;
  }

  #down1 {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  #down12 {
    position: absolute;
    bottom: 0;
  }

  #down {
    position: relative;
    bottom: 0;
  }

  #down1 {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait) {
  #down12 {
    position: absolute;
    bottom: 0;
  }

  #down {
    position: absolute;
    bottom: 0;
  }

  #down1 {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 401px) and (orientation: portrait) {
  #down12 {
    position: absolute;
    bottom: 0;
  }

  #down {
    position: relative;
    bottom: 0;
  }

  #down1 {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 400px) and (orientation: portrait) {
  #down12 {
    position: relative;
    bottom: 0;
  }

  #down {
    position: relative;
    bottom: 0;
  }

  #down1 {
    position: relative;
    bottom: 0;
  }
}

@media (max-width: 319px) and (orientation: portrait) {
  #down12 {
    position: relative;
    bottom: 0;
  }

  #down {
    position: relative;
    bottom: 0;
  }

  #down1 {
    position: relative;
    bottom: 0;
  }
}
